#container {
	width: 600px;
	height: 400px;
	margin-left: 450px;
	margin-top: 150px;
	padding-left: 50px;
	padding-top: 50px;
	background-color: darkblue;
	color: yellow;
}
p {
	margin-left: 90px;
	margin-top: 40px;
	font-size: 25px;
}